.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.main-view{
  margin-right:20px;
  margin-left:20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron.login {
  margin-top: 110px !important;
}
.login-block{
 margin-left: 120px !important;
 margin-right:  120px !important;
}
.detail {
  font-size: .8em;
  color: #9a9a9a;
}
.margint-top-5{
  margin-top:5px;
}
.padding-r-10{
  padding-right:10px ;
}
.pagination-right{
  float: right !important;
  margin-top: 5px;
}
.text-inline{
  display: inline-block !important;
}
.inline{
  display: inline-block;
}

.btn-panel{
  margin-top:25px;
  cursor: pointer;
}

.width-100{
  width:100%;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}
.top-space{
  margin-top: 10px;
}
.upload-buttons input[type="file"] {
  width: 6.3em \0/ IE9;
}

.upload-button {
  Height: 26px;
  line-height: 30px;
  padding: 0 10px;
  background: #CCC;
  appearance: button;
  -moz-appearance: button; /* Firefox */
  -webkit-appearance: button; /* Safari and Chrome */
  position: relative;
  text-align: center;
  top: 7px;
  cursor: pointer;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
}

.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
  list-style: none;
}

.response .sel-file li, .response .reqh {
  color: blue;
  padding-bottom: 5px;
}

fieldset {
  border: 1px solid #DDD;
  width: 620px;
  padding: 10px;
  line-height: 23px;
}

fieldset label {
  /*font-size: smaller;*/
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  text-align: center;
  padding: 50px 10px;
  margin-left: 10px;
}

.up-buttons {
  float: right;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;
}

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 3px;
}

.ng-v {
  float: right;
}

.thumb {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px;
}

form .thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.edit-area {
  font-size: 14px;
  background: black;
  color: #f9f9f9;
  padding: 5px 1px;
}

#htmlEdit {
  margin-bottom: 25px;
}

.edit-div {
  font-size: smaller;
}

.CodeMirror {
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

form button {
  padding: 3px 10px;
  font-weight: bold;
  margin-top: 10px;
}

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 25px;
}

.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}

.s3 {
  font-size: smaller;
  color: #333;
  margin-left: 20px;
}

.s3 fieldset {
  border: 1px solid #AAA;
}

.s3 label {
  width: 180px;
  display: inline-block;
}

.s3 input {
  width: 300px;
}

.s3 .helper {
  margin-left: 5px;
}

.howto {
  margin-left: 10px;
  line-height: 20px;
}

.server {
  margin-bottom: 20px;
}

.srv-title {
  font-weight: bold;
  padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

.preview {
  clear: both;
}

.preview img, .preview audio, .preview video {
  max-width: 300px;
  max-height: 150px;
  float: right;
}
.img-fixed{
  height: 150px !important;
  width:auto;
}
.img-center{
  display: block;margin:auto;
}

.custom {
  font-size: 14px;
  margin-left: 20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .login-block{
   margin-left: 200px !important;
   margin-right:  200px !important;
  }
  .navbar-nav.nav{
    width:100% ;
  }
  .logout-btn{
    float: right !important;
  }
}

@media screen and (max-width: 768px) {


}
