

  <div class="row">

    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Profile</h3></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="name" class="top-space-10">Name</label>

              <p class="detail text-capitalize" ng-bind="dashboard.employee.name"></p>

            </div>
            <div class="col-md-6 col-xs-12">
              <label for="curp" class="top-space-10 ">CURP</label>

              <p class="detail text-capitalize" ng-bind="dashboard.employee.curp"></p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="address" class="top-space-10 text-capitalize">address</label>

              <p class="detail text-capitalize" ng-bind="dashboard.employee.address"></p>

            </div>
            <div class="col-md-6 col-xs-12">
              <label for="telephone" class="top-space-10 text-capitalize">telephone</label>

              <p class="detail text-capitalize" ng-bind="dashboard.employee.telephone"></p>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Last Activity</h3></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5 col-xs-12">
              <label  class="top-space-10">Type of activity</label>

              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == true">Travel requirement</p>
              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == false">Expense registered</p>

            </div>

            <div class="col-md-7 col-xs-12">
              <label  class="top-space-10" >Date of creation/edition</label>

              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == true" ng-bind="dashboard.formatDate(dashboard.last_travel.date_updated)"></p>
              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == false" ng-bind="dashboard.formatDate(dashboard.last_expense.date_updated)"></p>

            </div>
           </div>

          <div class="row">
            <div class="col-md-5 col-xs-12">
              <label  class="top-space-10" ng-if="dashboard.activityTravel == true">Destination</label>
              <label  class="top-space-10" ng-if="dashboard.activityTravel == false">Type of expense</label>

              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == true" ng-bind="dashboard.last_travel.destination"></p>
              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == false" ng-bind="dashboard.last_expense.type"></p>

            </div>
            <div class="col-md-7 col-xs-12">
              <label  class="top-space-10" ng-if="dashboard.activityTravel == true">Ammount required</label>
              <label  class="top-space-10" ng-if="dashboard.activityTravel == false">Ammount registered</label>

              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == true" ng-bind="dashboard.formatWithCurrency(dashboard.last_travel.required_ammount)"></p>
              <p class="detail text-capitalize" ng-if="dashboard.activityTravel == false" ng-bind="dashboard.formatWithCurrency(dashboard.last_expense.ammount)"></p>

            </div>
           </div>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="inline">Travels list</h3>
          <span class="pull-right btn-panel" ng-click="dashboard.open()">New <i class="glyphicon glyphicon-plus"></i></span>
        </div>
        <div class="panel-body">
          <div ui-grid="dashboard.gridOptions" class="grid"></div>
          <p class="detail text-inline">
             * You can make multiple sort by holding shift key <br>
             * For the column of ammount the search will be with the real data (MXN)
          </p>
          <p class="pagination pagination-right">Current page:

            <select name="page" id="page" ng-options="item as item for item in dashboard.availablePages" ng-model="dashboard.pagination.pageNumber" ng-change="dashboard.load()" ng-init="1"></select>
         <!--   <input type="number" min="1" max="{{ dashboard.pagination.getTotalPages() }}" ng-model="dashboard.pagination.pageNumber" ng-change="dashboard.load()">-->of {{ dashboard.pagination.getTotalPages() }}
            <button type="button" class="btn btn-success" ng-click="dashboard.pagination.previousPage()"><i class="fa fa-arrow-circle-o-left"></i></button>
            <button type="button" class="btn btn-success" ng-click="dashboard.pagination.nextPage()"><i class="fa fa-arrow-circle-o-right"></i></button>
          </p>



        </div>

      </div>
    </div>
  </div>


