<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="inline">Expenses detail</h3>
          <span class="pull-right btn-panel" ng-if="expenses.expense !== undefined"
                ng-click="expenses.openExpense(expenses.expense)">Edit <i class="fa fa-pencil"></i></span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <label for="type" class="top-space-10">Type</label>

                  <p class="detail text-capitalize" ng-bind="expenses.expense.type"></p>

                </div>
                <div class="col-md-12 col-xs-12">
                  <label for="date" class="top-space-10 ">Date </label>

                  <p class="detail text-capitalize" ng-bind="expenses.formatDate(expenses.expense.date)"></p>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <label for="ammount" class="top-space-10">Registered ammount</label>

                  <p class="detail text-capitalize" ng-bind="expenses.formatWithCurrency(expenses.expense.ammount)"></p>

                </div>
                <div class="col-md-6 col-xs-12">


                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img class="img-fixed img-center" style=""
                   ng-src="{{expenses.image}}" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
