<div class="jumbotron login">
  <div class="login-block">
    <form ng-submit="main.login()" name="formLogin" id="formLogin">


      <h1>Login</h1>


      <div class="input-group top-space width-100">
        <label for="email">Email Address</label>
        <input type="text" required name="email" ng-required="true"
               ng-model="main.user.email" id="email" class="form-control "/>
      </div>
     <div class="input-group top-space width-100">
       <label for="password">Password</label>
       <input type="password" required name="password" ng-required="true"
              ng-model="main.user.password" id="password" class="form-control "/>
     </div>



    <button class="btn btn-lg btn-success top-space" type="submit"
            ng-disabled="main.sending || formLogin.$invalid">Submit!</button>

    </form>


  </div>

</div>


